<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<header id="masthead">
  <hgroup class="container">
    <h1>Niki</h1>
  </hgroup>
</header>
<section id="nav-toolbar">
    <div class="container">
      <nav class="crumbs" role="navigation">
        <ol>
          <li class="crumb"><a href="/">HOME</a></li>
          <li class="crumb">Using HTML5 audio and video</li>
        </ol>
      </nav>
    </div>
</section>
<div id="mastcontent" class="container">
  <h1 id="wikiTitle"><%= title %></h1>
  <div id="wikiTool" class="btns">
    <a class="btn btn-primary" href="#edit">编辑</a>
  </div>
  <article id="wikiContent">
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= title %></p>
  </article>

</div>

</body>
</html>